# 抖音解析开关，单独开关，受「总开关」影响
switch: true

# 抖音解析提示，发送提示信息：“检测到抖音链接，开始解析”
tip: true

# 抖音评论解析
comment: true

# 抖音评论数量，范围 1 ~ x 条
numcomment: 5

# 图集BGM是否使用高清语音发送，高清语音「ios/PC」系统均无法播放，自行衡量开关（仅icqq）
sendHDrecord: true

# 抖音推送相关配置
push: 
  # 推送开关，开启后需重启；使用「#设置抖音推送 + 抖音号」配置推送列表
  switch: true
  # 作品中有指定关键词时，不推送
  banWords: 
    - 关键词1
    - 关键词2
  # 作品中有指定标签时，不推送
  banTags: 
    - 标签1
    - 标签2
  # 推送权限，all为所有人，admin为管理员，master为主人，group.owner为群主，group.admin为群管理员
  permission: master
  # 推送表达式
  cron: '*/10 * * * *'
  # 推送时是否一同解析该作品
  parsedynamic: true
  # 是否打印日志
  log: true