# Ignore everything from language stats by default
* linguist-vendored

# Include TypeScript files in language stats
*.ts linguist-vendored=false
*.tsx linguist-vendored=false
*.ts linguist-detectable
*.tsx linguist-detectable
