services:
- type: web
  name: next-js
  runtime: node
  plan: starter
  buildCommand: pnpm install; pnpm build:docs
  startCommand: pnpm --filter docs run start
  autoDeploy: false
  envVars:
  - key: NODE_ENV
    value: production