@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-twoslash/twoslash.css';

/* HeroUI 样式 */
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../**/*.{js,ts,jsx,tsx,html}';
@custom-variant dark (&:is(.dark *));

/* 修复 Tailwind CSS 4 preflight 重置粗体样式的问题 */
strong,
b {
  font-weight: 600;
}

/* 极验验证码弹窗样式 */
.geetest_holder {
  width: 100% !important;
}
.geetest_popup_wrap {
  z-index: 9999 !important;
}
