name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 设置 pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.7.1
          run_install: |
            - args: [--no-frozen-lockfile]
      
      - name: 构建
        run: |
          pnpm build
          pnpm pkg delete devDependencies
          mkdir -p ${{ runner.temp }}/temp/
          cp -r package.json CHANGELOG.md README.md LICENSE resources config lib ${{ runner.temp }}/temp/

      - name: 配置 Git 用户
        if: github.event_name != 'pull_request'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: 获取最新的主分支
        if: github.event_name != 'pull_request'
        run: |
          git fetch origin ${{ github.ref_name }}
          git checkout ${{ github.ref_name }}
          git pull origin ${{ github.ref_name }} --ff-only

      - name: 获取主分支的最新提交消息
        if: github.event_name != 'pull_request'
        id: commit-message
        run: |
          echo "commit_msg=$(git log origin/${{ github.ref_name }} -1 --pretty=format:'%s')" >> $GITHUB_ENV

      - name: 检查编译分支是否存在
        if: github.event_name != 'pull_request'
        id: check-branch
        run: |
          if git ls-remote --exit-code origin build; then
            echo "branch_exists=true" >> $GITHUB_ENV
          else
            echo "branch_exists=false" >> $GITHUB_ENV
          fi

      - name: 创建或切换到编译分支
        if: github.event_name != 'pull_request'
        run: |          
          if [ "$branch_exists" = "false" ]; then
            git checkout --orphan build
            git reset --hard
            git clean -fd
            git commit --allow-empty -m "初始化编译分支"
            git push --set-upstream -f origin build
          else
            git fetch origin build
            git reset --hard
            git clean -fd
            git reset --hard origin/build
            git checkout build
          fi

      - name: 构建文件
        if: github.event_name != 'pull_request'
        run: |
          if [ "$(git ls-files | wc -l)" -gt 0 ]; then
            git rm -rf .
          fi
          cp -r ${{ runner.temp }}/temp/* ./
          rm -rf node_modules pnpm-lock.yaml

      - name: 提交更改并推送
        if: github.event_name != 'pull_request'
        run: |
          git add .
          git commit -m "${{ env.commit_msg }}" || echo "没有文件需要提交"
          git push origin build -f